@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon/icomoon.eot?srf3rx);
    src: url(../fonts/icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url(../fonts/icomoon/icomoon.ttf?srf3rx) format("truetype"), url(../fonts/icomoon/icomoon.woff?srf3rx) format("woff"), url(../fonts/icomoon/icomoon.svg?srf3rx#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #777;
    background: #fff
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

a {
    color: #7ed321;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

a:active,
a:focus,
a:hover {
    color: #7ed321;
    outline: 0;
    text-decoration: none
}

p {
    margin-bottom: 30px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0
}

::-webkit-selection {
    color: #fff;
    background: #7ed321
}

::-moz-selection {
    color: #fff;
    background: #7ed321
}

::selection {
    color: #fff;
    background: #7ed321
}

.gtco-nav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1001;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

@media screen and (max-width:768px) {
    .gtco-nav {
        padding: 20px 0
    }
}

.gtco-nav #gtco-logo {
    font-size: 30px;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 700
}

.gtco-nav #gtco-logo a {
    padding: 0 10px;
    color: #fff;
    font-weight: 700;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

@media screen and (max-width:768px) {
    .gtco-nav .menu-1,
    .gtco-nav .menu-2 {
        display: none
    }
}

.gtco-nav ul {
    padding: 0;
    margin: 1px 0 0 0
}

.gtco-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline
}

.gtco-nav ul li a {
    font-size: 12px;
    padding: 30px 10px;
    text-transform: uppercase;
    color: black;
    font-weight: 400!important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.gtco-tools ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    font-weight: 500!important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.gtco-tools ul li a:active,
.gtco-tools ul li a:focus,
.gtco-tools ul li a:hover {
    color: rgb(175, 175, 175)
}

.gtco-tools ul li {
    margin: 5px;
    padding: 0px 10px;
    list-style: none;
    display: inline
}

.gtco-nav ul li.btn-cta a {
    color: #fff
}

.gtco-nav ul li.btn-cta a span {
    border: none!important;
    background: rgba(255, 255, 255, .2);
    padding: 4px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px
}

.gtco-nav ul li.btn-cta a:hover span {
    background: #8bde2f!important;
    color: #fff
}

.gtco-nav ul li.btn-cta a:focus span {
    background: #8bde2f!important;
    color: #fff
}

.gtco-nav ul li.btn-cta a:active span {
    background: #8bde2f!important;
    color: #fff
}

.gtco-nav.scrolled {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15)
}

.gtco-nav.scrolled ul {
    padding: 0;
    margin: 1px 0 0 0
}

.gtco-nav.scrolled ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline
}

.gtco-nav.scrolled ul li a {
    color: rgba(0, 0, 0, .5)
}

.gtco-nav.scrolled ul li a:hover {
    color: #000
}

.gtco-nav.scrolled ul li.btn-cta a {
    color: #fff
}

.gtco-nav.scrolled ul li.btn-cta a span {
    border: none!important;
    background: #7ed321;
    padding: 4px 20px;
    color: #fff
}

.gtco-nav.scrolled #gtco-logo a {
    color: #000
}

#gtco-banner {
    padding: 10em 0 0 0;
    clear: both
}

#gtco-contact {
    padding: 1em 0 0 0;
    clear: both
}

#gtco-banner h1 {
    font-size: 59px
}

#gtco-banner .heading {
    position: relative
}

#gtco-contact .heading {
    position: relative
}

.heading {
    text-align: center;
    margin-bottom: 70px
}

.heading h1 {
    margin-bottom: 10px
}

@media screen and (max-width:768px) {
    .heading h1 {
        font-size: 26px
    }
}

.heading .sub {
    position: relative;
    padding-bottom: 40px;
    font-size: 18px
}

.heading .sub:after {
    bottom: 0;
    left: 46%;
    margin-left: -45px;
    content: "";
    position: absolute;
    width: 150px;
    height: 3px;
    background: #7ed321
}

#gtco-footer {
    padding-top: 30px;
    background: #fafafa;
    position: fixed;
    width: 100%;
    bottom: 0
}

.gtco-tools {
    margin-left: -28px;
    position: fixed;
    width: 101%;
    font-size: 15px;
}

.gtco-tools {
    background: #fafafa;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15)
}

@media screen and (max-width:768px) {
    #gtco-footer .copyright .pull-left,
    #gtco-footer .copyright .pull-right {
        float: none!important;
        text-align: center
    }
}

#gtco-footer .copyright .block {
    display: block
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 8px 30px
}

.btn.btn-md {
    padding: 8px 20px!important
}

.btn:active,
.btn:focus,
.btn:hover {
    box-shadow: none!important;
    outline: 0!important
}

.js .animate-box {
    opacity: 0
}

#gtco-contact .heading {
    position: relative
}

#gtco-contact .form-group {
    margin-bottom: 30px
}

#gtco-contact .form-control {
    height: 70px;
    font-size: 18px;
    box-shadow: none!important;
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff
}

.btn-primary {
    background: #7ed321;
    color: #fff;
    border: 2px solid #7ed321!important
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background: #8bde2f!important;
    border-color: #8bde2f!important
}

.btnSubmit {
    margin: 2em 0 0 0
}

#sesion {
    color: #7ed321 !important;
}